h1{
    padding: 60px;
    height: 100;
    width: 100;
    gap: 50;
<<<<<<< Updated upstream
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    background-color: white;
=======
    background-color: blue;
>>>>>>> Stashed changes
=======
    background-color: blue;
>>>>>>> Stashed changes
=======
    background-color: blue;
>>>>>>> Stashed changes
}